{% extends 'base.html' %}

{% block title %}
HR Signup
{% endblock title %}

{% block body %}
<div class="container">
<h1 style="color:blue;text-align: center;">Signup Here</h1>

<form action="/HRReg" method="POST">
    
    <div class="mb-3">
        <label for="userid" class="form-label">User ID</label>
        <input type="number" class="form-control" id="userid" aria-describedby="emailHelp" name="userid" Required>
    </div>

    <div class="mb-3">
        <label for="username" class="form-label">User Name</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username" Required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" Required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" Required>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">SignUp</button>

  </form>
  <br>
    Already a User? <a href="/HRLogin">Login</a>
</div>
{% endblock body %}
